
:root {
    --accent-color: #ff7858;
}

/*===== property reset =====*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.main-container {
    width: 940px;
    margin: auto;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #fff5dd, #ffe7dd);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*===== Utilities =====*/
.container-grid {
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
}

.logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 70px;
}

.product-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #636363;
    color: #fff;
    text-align: center;
    height: 55px;
}

.product-header h1 {
    font-size: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 50px;
}

/*===== Card header bg =====*/
.card .survey-question {
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*===== Card content bg =====*/
.card .survey-fillup {
    background-color: rgba(255, 255, 255, 0.5) ;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*===== Custom select arrow =====*/
select {
    border: thin var(--accent-color) solid;
    background-color: #fff;
    font-size: 16px;
    height: 35px;
    width: 20rem;
    padding: 5px;
    margin: 5px 0;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
                      linear-gradient(135deg, #fff 50%, transparent 50%),
                      linear-gradient(to right, var(--accent-color), var(--accent-color));
    background-position: calc(100% - 16px) calc(15px),
                         calc(100% - 12px) calc(15px),
                         100% 0;
    background-size: 5px 5px,
                     5px 5px,
                     2.2em 2.1em;
    background-repeat: no-repeat;
}

.default-radio {
    display: none;
}

input[type='radio'] {
    display: none;
}

.custom-radio {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px var(--accent-color) solid;
    padding: 2px;
}

.custom-radio::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--accent-color);
    border-radius: 50%;
    transform: scale(0);
}

.default-radio:checked + .custom-radio::after {
    transform: scale(1);
}

.radio-grid li {
    display: flex;
    align-items: center;
    padding: 7px 0;
}

.radio-grid li label {
    margin-left: 20px;
}

/*===== Rating radio =====*/
.alternate-bg-color {
    background-color: #fff;
}

.radio-scale-grid {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        'space radio-header'
        'radio-container radio-container';
}

.space {
    grid-area: space;
    grid-column: 1/2;
    grid-row: 1;
}

.radio-header {
    grid-area: radio-header;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.radio-header span{
    width: 90px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
}

.radio-scales {
    grid-area: radio-container;
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.tags {
    display: flex;
    align-items: center;
    padding: 17px 0 17px 20px;
    font-size: 14px;
}

.tag-10 {
    border-bottom-left-radius: 10px;
}

.radio-button-10 {
    border-bottom-right-radius: 10px;
}

.radio-buttons {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.radio-buttons label{
    margin: 0 30px 0 50px;
}


/*===== Textarea =====*/
.survey-fillup textarea {
    resize: none;
    width: 100%;
    border: 1px var(--accent-color) solid;
    border-radius: 5px;
}

.character-limit {
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.floating-instruction {
    margin: 10px 0 -10px 20px;
}

/*===== Bar Scale =====*/
.rating-scale-identation {
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.rating-scale-bar {
    margin: 10px 0 10px 40px;
    border: 1px var(--accent-color) solid;
    height: 5px;
    width: 370px;
}

.rating-scale-number {
    width: 60%;
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

/*===== Number scale =====*/
.survey-number-range-grid {
    display: flex;
    justify-content: space-around;
}

.survey-number-range-grid span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 65px;
    height: 55px;
    border-radius: 5px;
}

.survey-number-range-indentation {
    margin-top: 15px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

        /* Monochrome color */
.survey-number-range-grid .range-number-1 {
    background-color: rgba(255, 120, 88, 0.1);
}

.survey-number-range-grid .range-number-2 {
    background-color: rgba(255, 120, 88, 0.2);
}

.survey-number-range-grid .range-number-3{
    background-color: rgba(255, 120, 88, 0.3);
}

.survey-number-range-grid .range-number-4 {
    background-color: rgba(255, 120, 88, 0.4);
}

.survey-number-range-grid .range-number-5 {
    background-color: rgba(255, 120, 88, 0.5);
}

.survey-number-range-grid .range-number-6 {
    background-color: rgba(255, 120, 88, 0.6);
}

.survey-number-range-grid .range-number-7 {
    background-color: rgba(255, 120, 88, 0.7);
}

.survey-number-range-grid .range-number-8 {
    background-color: rgba(255, 120, 88, 0.8);
}

.survey-number-range-grid .range-number-9 {
    background-color: rgba(255, 120, 88, 0.9);
}

.survey-number-range-grid .range-number-10 {
    background-color: rgba(255, 120, 88, 1.0);
}



